<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.basic.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="courseResultMap" type="org.springblade.basic.entity.Course">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="name_course" property="nameCourse"/>
        <result column="school_id_course" property="schoolIdCourse"/>
        <result column="teacher_id_course" property="teacherIdCourse"/>
        <result column="introduce_course" property="introduceCourse"/>
        <result column="remark_course" property="remarkCourse"/>
    </resultMap>


    <select id="selectCoursePage" resultMap="courseResultMap">
        select * from basic_course where is_deleted = 0
    </select>

</mapper>
