<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.basic.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="teacherResultMap" type="org.springblade.basic.entity.Teacher">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="name_teacher" property="nameTeacher"/>
        <result column="sex_teacher" property="sexTeacher"/>
        <result column="school_id_teacher" property="schoolIdTeacher"/>
        <result column="birth_teacher" property="birthTeacher"/>
        <result column="contact_teacher" property="contactTeacher"/>
        <result column="degree_teacher" property="degreeTeacher"/>
        <result column="introduce_teacher" property="introduceTeacher"/>
        <result column="card_teacher" property="cardTeacher"/>
        <result column="remark_teacher" property="remarkTeacher"/>
    </resultMap>


    <select id="selectTeacherPage" resultMap="teacherResultMap">
        select * from basic_teacher where is_deleted = 0
    </select>

</mapper>
